{% extends 'base.html.twig' %}

{% block title %}CGU Xpress{% endblock %}

{% block body %}

    {{ include("partials/title_section.html.twig", {'name': 'CGU'}) }}

    <div class="container">
        <h1 class="text-center">Conditions Générales du site Xpress</h1>

        <p class="text-justify">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar justo eget mi pretium tincidunt. Vivamus vel ligula tincidunt eros scelerisque iaculis. In sed enim ut tellus facilisis vulputate vel quis enim. Curabitur tincidunt nulla a nulla sagittis finibus. Phasellus a feugiat justo. Aenean ligula ex, elementum sit amet odio ac, pulvinar suscipit ex. Suspendisse augue eros, condimentum ut augue elementum, commodo tincidunt leo.

            Vivamus elit velit, mollis quis tellus at, bibendum eleifend elit. Vestibulum sem sapien, elementum imperdiet ipsum vitae, condimentum suscipit justo. Vestibulum cursus felis at augue posuere tincidunt. Nulla in mauris massa. Morbi non nibh congue, lobortis dui vitae, viverra odio. Sed ac lacus diam. Ut at nulla velit. Nam dapibus lorem id erat vestibulum, vitae malesuada augue varius. Nunc vehicula in urna cursus malesuada.

            Aliquam tincidunt lobortis tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean congue non ex id ornare. Integer auctor arcu sed aliquet ornare. Suspendisse eget purus semper neque tempus tincidunt. Pellentesque semper vel diam nec feugiat. Fusce a massa a ipsum dictum rutrum et suscipit massa. Curabitur vitae pellentesque orci. Phasellus auctor massa id urna mollis auctor. Nullam tellus libero, commodo sit amet commodo ac, tristique non tortor. Suspendisse at cursus nisi, ac sagittis metus. Integer aliquam sollicitudin leo, eu scelerisque neque. Praesent vitae laoreet arcu. Sed molestie at nisi sed sollicitudin.

            Pellentesque auctor eros vestibulum elit malesuada fermentum. Nam venenatis sed justo ac mattis. Praesent sagittis bibendum augue a fringilla. Donec tincidunt dolor eget mollis ornare. Aenean sit amet augue a quam vehicula feugiat. Integer in congue quam. Curabitur justo eros, blandit sit amet consequat vel, posuere et lorem. Maecenas euismod cursus porttitor.

            Ut nec diam ipsum. Maecenas volutpat at leo non bibendum. Duis molestie, augue mattis imperdiet volutpat, mi arcu scelerisque nunc, vel porttitor felis velit eget magna. Mauris tempus vulputate turpis at congue. Aliquam at lacinia nunc. Suspendisse sollicitudin leo sed est pulvinar, a congue nibh facilisis. Duis sodales condimentum mi, eget placerat eros fringilla ut.
        </p>

    </div>
{% endblock %}
